.App {
  text-align: center;
}

.navbar {
  text-align: right !important;
}

.navbar a {
  color: gray;
}

.navbar a:hover {
  color: darkgray;
}

#logo {
  width: 20%;
  height: 70%;
  float: left;
}

#profileFace {
  width: 6em;
  height: 6em;
  align: right;
}

.footer {
  text-align: center;
  position: relative;
}

#paint {
  width: 50em;
  height: 10em;
}

#fb, #ig, #tumblr, #twitter {
  width: 2em;
}
