.App {
    text-align: center;
}

.nav {

}

.navbar {
    text-align: right !important;
}

.loading-gif {
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.loading-container {
    min-height: 69.2vh;
    display: flex;
    align-items: center;
}

.content-container {
    min-height: 69.2vh;
}