.footer {
  position: relative;
  width: 100%;
  height: 30%;
  text-align: center;
  margin-top: 7%;

  background-image: url(../assets/paint_smear.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


