.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 8%;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    padding-left: 1%;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: 180px;
}

.social-tags {
    display: flex;
}

.grid-container > div {
    position: relative;
    text-align: left;
    color: white;
    font-size: 80%;
    padding-right: 15%;
    width: fit-content;
}

.grid-container > grid-header {
    position: relative;
    font-size: 150%;
    font-weight: bold;
    color: white;
    text-align: left;
    padding-right: 25%;
    width: fit-content;
}