.grid-container {
    position: relative;

    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-row-gap: 8%;
    align-content: center;

    text-align: center;
    padding-left: 35%;
    padding-top: 2%;

    bottom: 0;
    width: 85%;
}

.social-tags {
    display: flex;
}

.grid-container > div {
    position: relative;
    text-align: left;
    color: white;
    font-size: 80%;
}

.grid-container > grid-header {
    font-size: 150%;
    font-weight: bold;
    color: white;
    text-align: left;
}

.twitter {
    content: url(../assets/twitter_logo.png);
    height:25px;
}

.instagram {
    content: url(../assets/instagram.jpg);
    height:25px;
}

.facebook {
    content: url(../assets/facebook.png);
    height:25px;
}

.pinterest {
    content: url(../assets/pinterest.png);
    height:25px;
}
