.root {
    background-color: white;
  }

.bar {
    background-color: white;
    top: 0;
    height: 10%;
    width: 100%;
    z-index:100;
    box-shadow: 2px 3px 5px #888888;
  }

  .noBoxShadow {
    border-style: solid;
  }

  .logo {
    max-width: 150px;
    height: auto;
    margin: 1em 4em;
    float: left;
  }

  .item {
      padding: 2em 2.5em 1.5em 2em;
      float: right;
      font-weight: 200;
      text-align: center;
      font-size: 1em;
  }

  .icon {
    max-width: 50px;
    height: auto;
  }

  .inputRoot {
    color: #ffffff;
  }

  #poper {
      position: relative;
      z-index: 1000;
  }
