.description-section {
    display: flex;
    width: 100%;
  }
  
  .description-blurb {
    flex-grow: 1;
    padding: 5em;
    text-align: center;
  }
  
  .description-blurb p {
    flex-grow: inherit;
    font-weight: 400;
    font-family: Athelas;
    font-size: large;
    margin: 0em 0em 0.5em 0em;
  }
  
  .description-blurb-font {
    font-family: Athelas;
    font-weight: 200;
    padding: 0em 0em .5em 0em;
  }
  
  .description-photo {
    flex-grow: 1;
    max-width: 8em;
    vertical-align: bottom;
  }

  .render-break {
    white-space: pre-line;
  }

  #how-it-works {
    background-color: rgb(240, 240, 240);
  }

  .how-it-works-number {
      font-size: 4.5em;
  }

  #how-it-works-header {
    font-family: Athelas;
    font-weight: 200;
    text-align: center;
    font-size: 2.7em;
    padding: 1.5em .6em 0em 0em;
  }

  .how-it-works-section {
    display: flex;
    width: 100%;
  }
  
  .how-it-works-blurb {
    flex-grow: 1;
    padding: 2em 3em 3em 3em;
    text-align: center;
  }
  
  .how-it-works-blurb p {
    flex-grow: inherit;
    font-weight: 400;
    font-family: Athelas;
    font-size: 1.75em;
    margin: 0em 0em 0.5em 0em;
  }
  
  .how-it-works-blurb-font {
    font-family: Athelas;
    font-weight: 200;
    padding: 0em 0em .5em 0em;
  }
  
  .how-it-works-photo {
    flex-grow: 1;
    max-width: 4em;
    margin: 0em 0em 1.5em 0em;
    vertical-align: bottom;
  }