#name-results {
  font-size: 14px;
  font-family: 'Geneva';
  letter-spacing: normal;
  margin: 0;
  color: #373737;
}

#num-results {
  margin-top: 0px;
  font-size: 12px;
  font-family: 'Geneva';
  letter-spacing: normal;
  color: #696969;
  margin-bottom: 10px;
}

.search-return-title {
  margin-left: 210px;
  margin-top: 60px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'menu main main main main main';
  grid-template-columns: 210px auto;
  margin-right: 10px;
}
